<nav class="navbar navbar-expand-lg justify-content-between align-items-center navbar-light bg-light mb-5">
  <a class="navbar-brand" [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <img id="logo" class="img-fluid" src="assets/images/logo.png">
  </a>
 <!-- <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Drivers']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Drivers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Add']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Add Driver</a>
      </li>
    </ul>
  </div>-->
</nav>
